/* tabs centered in tab bar */
#firefox-view-button,
#alltabs-button {
    display: none !important;
}
scrollbox:not(#PlacesToolbarItems) {
    -moz-box-pack: center !important;
}

/* tab labels centered in tab */
.tab-content {
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    padding-right: 6px !important;
    text-overflow: hidden;
}
.tab-label-container {
    margin: auto !important;
    max-width: 160px;
    text-overflow: ellipsis;
}
.tabbrowser-tab:not([labelendaligned], :hover) > .tab-stack > .tab-content > .tab-close-button {
    padding-inline-start: 7px !important;
    width: 24px !important;
}
.tab-close-button:hover {
    border: 1px solid GrayText !important;
}

/* tab shape rectangular */
#TabsToolbar {
    margin-top: 2px!important
}
.tabbrowser-tab {
    margin: 0px !important;
    margin-inline: 0px !important;
    padding-inline: 0px !important;
}
.tab-background {
    margin: 0px !important;
    border-radius: 0 !important;
}
.tab-context-line {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

/* tab color */
@media (prefers-color-scheme: light) {
    :root {
        --gray: rgb(140, 140, 140);
        --inactivebg: rgba(0, 0, 0, 0.175);
        --inactivefg: rgb(140, 140, 140);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --gray: rgb(190,190,190);
        --inactivebg: rgba(0, 0, 0, 0.175);
        --inactivefg: rgb(30, 30, 30);
    }
}
.tab-background {
    background-image: none !important;
    box-shadow: none !important;
}
.tab-background[selected] {
    background-color: Field !important;
	border-top: 3px solid AccentColor !important;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}
.tabbrowser-tab:not([selected]) {
    background-color: var(--inactivebg) !important;
}
.tabbrowser-tab:not([selected]) .tab-content{
    color: var(--inactivefg) !important;
}
